# Sample bsdisks syslog configuration file.
# Move to /usr/local/etc/syslog.d/bsdisks-newsyslog.conf and edit as necessary.
# See newsyslog.conf(5) for a description of this file's format.
/var/log/bsdisks.log			644  3	  1000 *      JC
